<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Report Card</h1>
    <p>Name : <%=student.name%></p>
    <p>Grade : <%=student.grade%></p>
    <p>Favorite Subject : <%=student.favoriteSubject%></p>
</body>
</html>